body {
      background: cyan;
      font-family: Brush Script MT;
      font-size: 25px;
}
ul {
    font-family: Brush Script MT;
}
li {
    list-style: circle;
}  

 
.btn {
    position: absolute;
    top: 20px;
    left: 355px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
    color: rgb(230, 25, 151);
    background-color: yellow;
    font-family: Brush Script MT;
    font-size: 20px;
}
