body {
      background: rgb(60, 112, 189);
      font-family: Brush Script MT;
      font-size: 25px;
}
ul {
    font-family: Brush Script MT;
}
li {
    font-family: DejaVu Sans Mono;
    list-style: circle;
}  


.btn {
    position: absolute;
    top: 20px;
    left: 355px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
    color: rgb(230, 25, 151);
    background-color: rgb(214, 228, 224);
    font-family: Brush Script MT;
    font-size: 20px;
}

.whl {
    position: absolute;
    top: 20px;
    left: 355px;
}
